body {
	background-image: url(BowTieJimmy.jpg);
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	color: orange;
	font-family: 'Indie Flower', cursive;
	font-size: 6em;
	word-wrap: break-word;
}

html, body {
	height: 100%;
	width: 100%;
}

.button {
	display: flex;
	text-align: center;
	justify-content: center;
}